/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kavivanar&family=Sarala&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-family: 'Kavivanar', cursive;
    text-align: center;
}

a,
p {
    font-family: 'Sarala', sans-serif;
}

header {
    position: fixed;
    padding: 0 1rem;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#menu {
    list-style-type: none;
}

main {
    margin-top: 50px;
    flex: 1 0 auto;
}

.breed {
    padding: 2vw;
}

.rabbit-img img {
    width: 100%;
}

.breed span {
    font-weight: bold;
}

.breed-name {
    font-size: 1.5rem;
}

@media screen and (min-width:768px) {
    .breed {
        display: flex;
        width: 100%;
        gap: 1vh;
    }

    .rabbit-img {
        flex: 0 1 30%;
    }

    .rabbit-info {
        flex: 0 1 70%;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:1440px) {
    #info {
        display: flex;
        flex-direction: row;
        column-count: 2;
    }

    #info-title {
        position: absolute;
        width: 100%;
    }
}