/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kavivanar&family=Sarala&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5ebe0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: #36271c;
}

h2 {
    font-family: 'Kavivanar', cursive;
    text-align: center;
    background-color: #d7cac1;
    text-transform: capitalize;
    margin: 0 2.5vw;
}

a,
p {
    font-family: 'Sarala', sans-serif;
}

header {
    position: fixed;
    padding: 0 1rem;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #d5bdaf;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    background-color: #d5bdaf;
    color: #36271c;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#menu {
    list-style-type: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-toggle-label i {
    color: #36271c;
}

main {
    margin-top: 50px;
    flex: 1 0 auto;
}

.breed,
#fun-facts div {
    padding: 2.5vw;
}

.rabbit-img img {
    width: 100%;
}

.breed span {
    font-weight: bold;
}

.breed-name {
    font-size: 1.5rem;
}

video {
    width: 98%;
}

#contactus-form {
    padding: 2.5vw;
    width: 100%;
    text-align: center;
}

input,
textarea,
button {
    outline: none;
    background-color: #f5ebe0;
    border: 2px solid #d5bdaf;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    border-color: #000;
}

button {
    padding: 5px;
}

button:hover {
    background-color: #d7cac1;
}

#social-networks {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 2vw 0;
}

footer {
    background-color: #d5bdaf;
}

#social-networks i {
    color: #36271c;
}

@media screen and (min-width:768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2vw;
    }

    #menu a:hover {
        background-color: #D7CAC1;
    }

    .nav-toggle-label {
        display: none;
    }

    .breed {
        display: flex;
        width: 100%;
        gap: 1vh;
    }

    .rabbit-img {
        flex: 0 1 30%;
    }

    .rabbit-info {
        flex: 0 1 70%;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:1440px) {

    #info,
    #fun-facts {
        display: flex;
        flex-direction: row;
        column-count: 2;
    }

    #info-title,
    #funfacts-title {
        position: absolute;
        width: 100%;
    }

}